<h1 id="subhead"><%= @carrier.name %></h1>

<div class="log">
<div class="">
<% if @phones.empty? %>
<p>No phones listed on this carrier!</p>
<% else %>
<% @phones.each do |phone| %>
<div class="logo_id">
<a href="/carriers/<%= @carrier.id %>/phones/<%= phone.id %>"><img id="logo" src="<%= phone.photo_url %>">
<h3><%= phone.name %></h3></a>
</div>
<% end %>
</div>
<% end %>

<br>
<%= link_to "Back", carriers_path %>
<%= link_to "Edit this carrier", edit_carrier_path(@carrier) %>
<%= link_to "Delete this carrier", carrier_path(@carrier), method: :delete %>
<%= link_to "Add phone", new_carrier_phone_path(@carrier) %>
</div>
