<div class="log">


<%= image_tag @profile.photo.url, id: "photo"%>

<div id="ido">
<div id="list">
<h3 id="inline">Email: </h3><h3 id="inline" >Username: </h3><h3 id="inline">Name: </h3><h3 id="inline">Age: </h3></div>

<div id="list1">
<h3 id="inline1"><%= @profile.username %></h3><h3 id="inline1"><%= @user.email %></h3><h3 id="inline1"><%= @profile.firstname %> <%= @profile.lastname %></h3><h3 id="inline1"><%= @profile.age %></h3></div></div>
</div>
