<%= @phone.brand %>
<%= @phone.name %>
<%= @phone.model %>
<img src="<%= @phone.photo_url %>">

<%= link_to "Back", carrier_path(@carrier) %>
<a href="<%= @phone.id %>/edit">Edit</a>
<%= link_to "Delete", carrier_phone_path, method: :delete %>
