<!DOCTYPE html>
<html>
  <head>
    <title>SkyTele</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="head">
    <a class="name" href="/">Skytele</a>
    <div class="nav">
      <!-- <a id="nav" href="/products">Products</a> -->

      <!-- <div class="drop-down" id="nav">
         <ul>
           <li class="sub-menu-parent" tab-index="0">
             <a href="http://google.com">Shop <i>⌵</i></a>
             <ul class="sub-menu dropdown-content">
               <li><a class="sub-menu-child" href="#">Phones</a></li>
               <li><a class="sub-menu-child" href="#">Services</a></li>
               <li><a class="sub-menu-child" href="#">Carriers</a></li>
               <li><a href="#">Sub Item 4</a></li>
             </ul>
           </li>
         </ul>
       </div> -->

       <div class="dropdown">
   <a href="#"><button id="shop" class="dropbtn">Shop <i>⌵</i></button></a>
   <div class="dropdown-content">
     <a href="#">Phones</a>
     <a href="#">Carriers</a>
     <a href="#">Services</a>
   </div>
 </div>

      <!-- <div class="dropdown">
  <a href="/profiles/<%= current_user.profile %>"><button class="dropbutton">Shop <i>⌵</i></button></a>
  <div class="dropdown-content">
    <a href="/profiles/<%= current_user.profile %>">Phones</a>
    <a href="/carriers">Services</a>
  </div>
</div> -->
      <a id="nav" href="/about">About</a>
      <a id="nav" href="/contact">Contact Us</a>
      <% if current_user %>
      <div class="dropdown">
  <a href="/profiles/<%= current_user.profile %>"><button class="dropbtn"><%= current_user.email %></button></a>
  <div class="dropdown-content">
    <a href="/profiles/<%= current_user.profile %>">Profile</a>
    <a href="/carriers">Carriers</a>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
</div>
    </div>
      <% else %>
      <div id="log_in">
      <%= link_to "Log In", user_session_path, :id => "login" %>
    </div>
      <div id="sign_up">
      <%= link_to "Sign up", new_user_registration_path, :id => "signup" %>
    </div>
      <% end %>
    </div>
  </div>
  <div id="message">
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="">
      <%= yield %>
    </div>
  <!-- <footer>
    <a id="footer" href="/products">Products</a>
    <a id="footer" href="/about">About</a>
    <a id="footer" href="contact">Contact</a>
  </footer> -->
  </body>
</html>
