<!DOCTYPE html>
<html>
  <head>
    <title>SkyTele</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="head">
    <h1 class="name">Skytele</h1>
    <div class="nav">
      <a id="nav" href="/">Home</a>
      <a id="nav" href="/products">Products</a>
      <a id="nav" href="/about">About</a>
      <a id="nav" href="/contact">Contact Us</a>
      <% if current_user %>
      <div class="dropdown">
  <a href="profiles/<%= current_user.profile %>"><button class="dropbtn"><%= current_user.email %></button></a>
  <div class="dropdown-content">
    <a href="profiles/<%= current_user.profile %>">Profile</a>
    <a href="/carriers">Carriers</a>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
</div>
    </div>
      <% else %>
      <div id="log_in">
      <%= link_to "Log In", user_session_path, :id => "login" %>
    </div>
      <div id="sign_up">
      <%= link_to "Sign up", new_user_registration_path, :id => "signup" %>
    </div>
      <% end %>
    </div>
  </div>
  <div id="message">
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  <footer>
    <a id="footer" href="/products">Products</a>
    <a id="footer" href="/about">About</a>
    <a id="footer" href="contact">Contact</a>
  </footer>
  </body>
</html>
